# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [2]:
# Import your libraries:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
from sklearn.datasets import load_diabetes

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [22]:
# Your code here:
diabetes = load_diabetes()

type(diabetes)

sklearn.utils.Bunch

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [4]:
# Your code here:

diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [5]:
# Your code here:
diabetes.DESCR

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, total serum cholesterol\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, total cholesterol / HDL\n      - s5      ltg, possibly log of serum triglycerides level\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [6]:
# Your code here:
diabetes.data.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [7]:
# Your code here:
from sklearn.linear_model import LinearRegression
lr =  LinearRegression()

Initialize the model in the variable `diabetes_model`

In [21]:
# Your code here:
X = diabetes.data
y = diabetes.target

In the cell below, fit the model and print the intercept and coefficients of the model.

In [13]:
# Your code here:
diabetes_model = lr.fit(X,y)
print(f"intercept {diabetes_model.intercept_} coefficient {diabetes_model.coef_}")

intercept 152.1334841628965 coefficient [ -10.01219782 -239.81908937  519.83978679  324.39042769 -792.18416163
  476.74583782  101.04457032  177.06417623  751.27932109   67.62538639]

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [182]:
# Your code here:

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [14]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [15]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [17]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [32]:
# Your code here:

newest_model = auto["model_year"].min()
oldest_model = auto['model_year'].max()
newest_model, oldest_model

(70, 82)

Check the dataset for missing values and remove all rows containing at least one missing value.

In [48]:
# Your code here:
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [49]:
auto = auto.dropna(how = "all", axis = 0, subset = ["horse_power"])
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [50]:
# Your code here:
auto["cylinders"].value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [51]:
# Import the necessary function
from sklearn.model_selection import train_test_split as tts

In [57]:
# Your code here:
auto = auto.drop("car_name", axis=1)

KeyError: "['car_name'] not found in axis"

In [58]:
auto

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [59]:
X = auto.drop("mpg", axis=1)
y = auto.mpg

In [60]:
X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.2)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [63]:
# Your code here:
already inicializated

Next, fit the model in the cell below.

In [101]:
# Your code here:
auto_ml = lr.fit(X_train, y_train)

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [105]:
# Import the necessary function:
from sklearn import metrics
import numpy as np

In [106]:
# Your code here:
y_pred = auto_ml.predict(X_test)
y_pred

array([20.54311993, 12.66590104, 27.90171367, 25.67561614, 28.79159649,
       17.10631035, 17.64065227, 23.80305989, 30.99205016, 16.53982175,
       15.10075576, 14.35635344, 29.36652029, 30.46003826, 12.03596812,
       21.29651907, 24.59892378, 24.58762962, 32.2841238 , 19.17710213,
       18.35120373, 10.0640264 , 20.30473826, 23.04445594, 21.58352284,
       19.84899298, 31.90535883, 35.36548632, 31.10318002, 18.10647485,
       26.49558933, 32.34486743, 30.95828427, 26.33803944, 25.17567415,
       28.52654864, 18.01404997, 29.79825117, 23.98933138, 16.15471793,
       15.63459038, 33.93958899, 12.14630742, 24.50862141, 23.67592868,
       33.5767978 , 27.09158553, 29.96237879, 28.83863568, 33.71187045,
       35.2584371 , 30.40527986, 27.0997259 , 30.6115703 , 26.30143313,
       34.72555342, 31.15942279, 15.54755548, 32.49743877, 20.95310409,
       20.4607318 , 23.47716914, 24.72478535, 34.57880335, 15.38734376,
       24.70939005, 23.86633195, 31.13926883, 18.61886722, 21.34108321,
       28.37114959, 33.47114281, 32.33746855, 17.70758753, 25.91538157,
       17.39643053, 24.5575874 , 26.57652807, 12.05122311])

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [107]:
# Your code here:
print("MAE - Mean absolute error", metrics.mean_absolute_error(y_test, y_pred))
print("MSE - Mean squeared error", metrics.mean_squared_error(y_test, y_pred))
print("RMSE - Root mean squared error", np.sqrt(metrics.mean_absolute_error(y_test, y_pred)))
print("R2 - Mean absolute error", metrics.r2_score(y_test, y_pred))

MAE - Mean absolute error 2.6491299805761117
MSE - Mean squeared error 10.857801509822082
RMSE - Root mean squared error 1.6276148133314934
R2 - Mean absolute error 0.8149307189271097

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [94]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = tts(X, y, test_size = 0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [95]:
# Your code here:
auto_model09 = lr.fit(X_train09, y_train09)
auto_model09

LinearRegression()

Compute the predicted values and r squared score for our new model and new sample data.

In [96]:
# Your code here:
y_pred09 = auto_model09.predict(X_test)
r2 = metrics.r2_score(y_test, y_pred09)
r2

0.8261901404528625

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [98]:
# Your code here:
y_pred09_small = auto_model09.predict(X_test09)
r2_small = metrics.r2_score(y_test09, y_pred09_small)
r2_small

0.7306133716608917

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [200]:
# Your code here:

Fit the model and print the ranking

In [201]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [202]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [203]:
# Your code here: