# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [4]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.datasets import load_diabetes
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression as LinReg

from sklearn.linear_model import Ridge, Lasso
from sklearn.linear_model import SGDRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.feature_selection import RFE

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [23]:
diabetes1 = load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [6]:
diabetes.keys()

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'], dtype='object')

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [24]:
print(diabetes1['DESCR'])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

:Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [27]:
diabetes.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [37]:
df_diabetes = pd.DataFrame(load_diabetes().data, columns = load_diabetes().feature_names)
df_diabetes.sample()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
325,-0.001882,-0.044642,0.054152,-0.066506,0.072732,0.056619,-0.043401,0.084863,0.084492,0.048628

In [38]:
df_diabetes["Target"] = load_diabetes().target

In [39]:
df_diabetes

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0

In [41]:
X = df_diabetes.drop("Target", axis=1)

In [43]:
y = df_diabetes.Target

In [44]:
X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.2)

In [45]:
X_train.shape[0] == y_train.shape[0]

True

In [46]:
X_test.shape[0] == y_test.shape[0]

True

In [47]:
X_train.shape[0] == X_test.shape[0]

False

In [55]:
X_train.shape

(353, 10)

In [53]:
X_train

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
268,0.063504,0.050680,0.088642,0.070072,0.020446,0.037517,-0.050764,0.071210,0.029297,0.073480
380,0.016281,-0.044642,0.026128,0.058608,-0.060735,-0.044215,-0.013948,-0.033958,-0.051404,-0.025930
58,0.041708,-0.044642,-0.064408,0.035644,0.012191,-0.057994,0.181179,-0.076395,-0.000612,-0.050783
254,0.030811,0.050680,0.056307,0.076958,0.049341,-0.012274,-0.036038,0.071210,0.120051,0.090049
...,...,...,...,...,...,...,...,...,...,...
431,0.070769,0.050680,-0.030996,0.021872,-0.037344,-0.047034,0.033914,-0.039493,-0.014960,-0.001078
407,0.027178,-0.044642,0.092953,-0.052734,0.008063,0.039709,-0.028674,0.021024,-0.048359,0.019633
120,-0.049105,-0.044642,0.004572,0.011544,-0.037344,-0.018537,-0.017629,-0.002592,-0.039809,-0.021788
247,-0.081798,-0.044642,-0.081653,-0.040099,0.002559,-0.018537,0.070730,-0.039493,-0.010903,-0.092204
282,0.070769,-0.044642,-0.005128,-0.005670,0.087868,0.102965,0.011824,0.034309,-0.008943,0.027917

Initialize the model in the variable `diabetes_model`

In [48]:
lr = LinReg()

In [49]:
lr.fit(X_train, y_train) # TRAINING, Fitting my model (template) to MY data

LinearRegression()

In the cell below, fit the model and print the intercept and coefficients of the model.

In [51]:
lr.intercept_

153.9268365476995

In [52]:
lr.coef_

array([ -25.34378262, -216.90739396,  503.563567  ,  281.72462145,
       -889.70509102,  583.05883558,  158.85703471,  245.72507494,
        798.74982169,   41.81243025])

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [182]:
# Your code here:

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [57]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [58]:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [69]:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [63]:
auto.sample()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
145,32.0,4,83.0,61.0,2003,19.0,74,"\t""datsun 710"""

In [65]:
auto.model_year.max()

82

In [70]:
auto.model_year.min()

70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [79]:
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [95]:
auto1 = auto.dropna()
auto.shape

(398, 8)

In [96]:
auto1.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [103]:
auto.cylinders.value_counts().index.value_counts().sum()

5

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [115]:
# Import the necessary function

auto2 = auto1.drop("car_name", axis=1)
auto2.sample()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
86,14.0,8,304.0,150.0,3672,11.5,73

In [116]:
X = auto2.drop("mpg", axis=1)

In [135]:
X

     cylinders  displacement  horse_power  weight  acceleration  model_year
0            8         307.0        130.0    3504          12.0          70
1            8         350.0        165.0    3693          11.5          70
2            8         318.0        150.0    3436          11.0          70
3            8         304.0        150.0    3433          12.0          70
4            8         302.0        140.0    3449          10.5          70
..         ...           ...          ...     ...           ...         ...
393          4         140.0         86.0    2790          15.6          82
394          4          97.0         52.0    2130          24.6          82
395          4         135.0         84.0    2295          11.6          82
396          4         120.0         79.0    2625          18.6          82
397          4         119.0         82.0    2720          19.4          82

[392 rows x 6 columns]

In [117]:
y = auto2.mpg

In [118]:
X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.2)

In [119]:
X_train.shape[0] == y_train.shape[0]

True

In [120]:
X_test.shape[0] == y_test.shape[0]

True

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [121]:
lr = LinReg()
lr

LinearRegression()

Next, fit the model in the cell below.

In [122]:
lr.fit(X_train, y_train) # TRAINING, Fitting my model (template) to MY data

LinearRegression()

In [123]:
lr.coef_

array([-0.31291284,  0.01172465,  0.00489841, -0.00749214,  0.15803722,
        0.74120067])

In [124]:
lr.intercept_

-14.027742506685751

In [125]:
y_pred = lr.predict(X_test)

In [129]:
models = {
    "lr": LinReg(),
    "ridge": Ridge(),
    "lasso": Lasso(),
    "sgd": SGDRegressor(),
    "knn": KNeighborsRegressor(),
    "grad": GradientBoostingRegressor(),
    "svr": SVR()
}

In [132]:
from sklearn import metrics

In [130]:
for name, model in models.items():
    print("Training 🏋️‍:", name)
    model.fit(X_train, y_train)

Training 🏋️‍: lr
Training 🏋️‍: ridge
Training 🏋️‍: lasso
Training 🏋️‍: sgd
Training 🏋️‍: knn
Training 🏋️‍: grad
Training 🏋️‍: svr

In [133]:
for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"------{name}------")
    print('MAE - ', metrics.mean_absolute_error(y_test, y_pred))
    print('MSE - ', metrics.mean_squared_error(y_test, y_pred))
    print('RMSE - ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
    print('R2 - ', metrics.r2_score(y_test, y_pred))

------lr------
MAE -  2.7384435178184745
MSE -  11.72337212786946
RMSE -  3.4239410228374934
R2 -  0.7989468500257774
------ridge------
MAE -  2.7383673718863397
MSE -  11.723560862673567
RMSE -  3.4239685837743266
R2 -  0.7989436132670649
------lasso------
MAE -  2.708968313864713
MSE -  11.687709760835595
RMSE -  3.4187292611196334
R2 -  0.7995584514617371
------sgd------
MAE -  4059974439917830.5
MSE -  1.7696973082908913e+31
RMSE -  4206777042215205.5
R2 -  -3.0349903974040988e+29
------knn------
MAE -  2.829367088607595
MSE -  13.454501265822783
RMSE -  3.6680377950373932
R2 -  0.7692583813495785
------grad------
MAE -  2.0340424337527008
MSE -  7.182609560558392
RMSE -  2.6800390968339234
R2 -  0.8768198892405481
------svr------
MAE -  3.2035998578271814
MSE -  17.921777024442683
RMSE -  4.23341198378361
R2 -  0.6926456240918897

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [141]:
y_pred = lr.predict(X_test)
y_pred

array([20.4535486 , 21.38558748, 12.11408242, 16.18193507, 27.45254875,
       23.39836838, 23.26117526, 29.00276922, 26.95092363, 31.89751488,
       26.68450133, 13.73197996, 21.88654187, 33.44558809, 30.40351445,
       29.67974751, 20.24947671, 29.88781207, 26.66191145, 18.99736056,
       34.82051865,  8.29269618, 20.91903965, 21.75766794, 26.62293906,
       25.99497812, 30.95446838, 34.92102772, 29.28786062,  7.95552473,
       28.06691954, 22.1083544 , 15.10360687, 23.59127918, 31.06920531,
       18.14061875, 15.81160555, 22.94747638, 20.57442312, 31.37092759,
       13.35487628, 28.83734767, 30.47841007, 29.3899294 , 15.71744233,
       19.9088557 , 21.76559106, 17.79276896, 32.74462798, 29.13295446,
       30.45281082, 24.0940952 , 28.03916471, 20.37144071, 17.43316897,
       22.8873586 , 31.64020403, 10.01378272, 11.97014878, 28.42290981,
       14.92580755,  8.30350644, 33.4640415 , 26.32471747, 26.31544203,
       30.18181007, 18.85595118, 23.25519873,  7.77550425, 15.39861054,
       22.53398341, 16.71324405, 16.46515246, 31.09608129, 22.25016512,
       31.15350611, 32.26974255, 21.68074637, 25.99466142])

In [140]:
print("R2 - Mean absolute error", metrics.r2_score(y_test, y_pred))

R2 - Mean absolute error 0.7989468500257774

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [172]:
y_test_pred = lr.predict(X_train)
print("R2 - Mean absolute error", metrics.r2_score(y_train, y_test_pred))

R2 - Mean absolute error 0.8099741044434028

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [166]:
X_train09, X_test09, y_train09, y_test09 = tts(X, y, test_size = 0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [167]:
auto_model09 = lr.fit(X_train09, y_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [168]:
y_pred09 = lr.predict(X_test09)

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [169]:
print("R2 - Mean absolute error", metrics.r2_score(y_test09, y_pred09))

R2 - Mean absolute error 0.8280567374177036

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [200]:
# Your code here:

Fit the model and print the ranking

In [201]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [202]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [203]:
# Your code here: