# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:
import numpy as np
import pandas as pd

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [2]:
# Your code here:
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [3]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [4]:
# Your code here:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here: age, sex, body mass index, average blood pressure, s1, s2, s3, s4, s5, s6

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [5]:
# Your code here:
diabetes_df = pd.DataFrame(diabetes.data, columns = diabetes.feature_names)
diabetes_df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [6]:
diabetes_df.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [47]:
# Your code here:
from sklearn.linear_model import LinearRegression as LinReg

Initialize the model in the variable `diabetes_model`

In [48]:
# Your code here:
diabetes_model = LinReg()

In the cell below, fit the model and print the intercept and coefficients of the model.

In [49]:
# Your code here:
X_train = diabetes_df
y_train = pd.DataFrame(diabetes.target)

In [50]:
X_train.shape

(442, 10)

In [51]:
y_train.shape

(442, 1)

In [52]:
diabetes_model.fit(X_train, y_train)

LinearRegression()

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [41]:
# Your code here:
# Checking coeficients
diabetes_model.coef_

array([[ -10.01219782, -239.81908937,  519.83978679,  324.39042769,
        -792.18416163,  476.74583782,  101.04457032,  177.06417623,
         751.27932109,   67.62538639]])

In [64]:
df = pd.concat([X_train, y_train], axis=1)
df = df.rename(columns={0:"target"})
df.sample()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
122,0.048974,0.05068,0.081097,0.021872,0.043837,0.064134,-0.054446,0.07121,0.032433,0.048628,180.0

In [57]:
import statsmodels.formula.api as smf

In [62]:
# Fitting LinearRegression model with ols
results = smf.ols("target ~ age + sex + bmi + bp + s1 + s2 + s3 + s4 + s5 + s6", data = df).fit()

In [63]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Tue, 15 Nov 2022   Prob (F-statistic):           3.83e-62
Time:                        17:51:58   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    152.1335      2.576     59.061      0.000     147.071     157.196
age          -10.0122     59.749     -0.168      0.867    -127.448     107.424
sex         -239.8191     61.222     -3.917      0.000    -360.151    -119.488
bmi          519.8398     66.534      7.813      0.000     389.069     650.610
bp           324.3904     65.422      4.958      0.000     195.805     452.976
s1          -792.1842    416.684     -1.901      0.058   -1611.169      26.801
s2           476.7458    339.035      1.406      0.160    -189.621    1143.113
s3           101.0446    212.533      0.475      0.635    -316.685     518.774
s4           177.0642    161.476      1.097      0.273    -140.313     494.442
s5           751.2793    171.902      4.370      0.000     413.409    1089.150
s6            67.6254     65.984      1.025      0.306     -62.065     197.316
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [65]:
# H0: coef == 0
# H1: coef != 0
# Those coeficients where p-value > 0.05 we cannot reject H0 and thus do not impact the model. They are:
# age, s1, s2, s3, s4 and s6.

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [120]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [121]:
# Your code here:

auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [122]:
# Your code here:

auto.info() # Everything is numerical

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

What is the newest model year and the oldest model year?

In [123]:
# Your code here:

auto.sort_values(by = ['model_year']) 
# The newest model year: 82, the oldes = 70

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
28,9.0,8,304.0,193.0,4732,18.5,70,"\t""hi 1200d"""
27,11.0,8,318.0,210.0,4382,13.5,70,"\t""dodge d200"""
26,10.0,8,307.0,200.0,4376,15.0,70,"\t""chevy c20"""
25,10.0,8,360.0,215.0,4615,14.0,70,"\t""ford f250"""
...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88.0,2640,18.6,82,"\t""chevrolet cavalier wagon"""
367,28.0,4,112.0,88.0,2605,19.6,82,"\t""chevrolet cavalier"""
396,28.0,4,120.0,79.0,2625,18.6,82,"\t""ford ranger"""
381,36.0,4,107.0,75.0,2205,14.5,82,"\t""honda accord"""
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""

Check the dataset for missing values and remove all rows containing at least one missing value.

In [124]:
# Your code here:

auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [125]:
auto = auto.dropna()

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [126]:
# Your code here:
auto['cylinders'].value_counts() # 5 possible values for cylinders

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [127]:
# Import the necessary function

from sklearn.model_selection import train_test_split as tts

In [128]:
# Your code here:
auto = auto.drop(columns = ['car_name'])

In [129]:
auto.sample()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
113,21.0,6,155.0,107.0,2472,14.0,73

In [130]:
mpg = auto[['mpg']]

In [131]:
mpg.shape

(392, 1)

In [132]:
auto = auto[['cylinders', 'displacement', 'horse_power','weight','acceleration', 'model_year']]
auto.shape

(392, 6)

In [133]:
auto

     cylinders  displacement  horse_power  weight  acceleration  model_year
0            8         307.0        130.0    3504          12.0          70
1            8         350.0        165.0    3693          11.5          70
2            8         318.0        150.0    3436          11.0          70
3            8         304.0        150.0    3433          12.0          70
4            8         302.0        140.0    3449          10.5          70
..         ...           ...          ...     ...           ...         ...
393          4         140.0         86.0    2790          15.6          82
394          4          97.0         52.0    2130          24.6          82
395          4         135.0         84.0    2295          11.6          82
396          4         120.0         79.0    2625          18.6          82
397          4         119.0         82.0    2720          19.4          82

[392 rows x 6 columns]

In [134]:
X_train, X_test, y_train, y_test = tts(auto, mpg, test_size = 0.2)

In [135]:
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(313, 6) (313, 1) (79, 6) (79, 1)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [136]:
# Your code here:

auto_model = LinReg()

Next, fit the model in the cell below.

In [137]:
# Your code here:

auto_model.fit(X_train, y_train)

LinearRegression()

In [138]:
auto_model.coef_

array([[-0.52978516,  0.01272519,  0.00338037, -0.00707324,  0.13157866,
         0.73454895]])

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [139]:
# Import the necessary function:

from sklearn import metrics

In [140]:
# Your code here:

y_pred = auto_model.predict(X_test)
metrics.r2_score(y_test, y_pred)

0.8190418494516863

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [141]:
# Your code here:

# I think this question is asking the same as before.

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [142]:
# Your code here:

X_train09, X_test09, y_train09, y_test09 = tts(auto, mpg, test_size = 0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [143]:
# Your code here:

auto_model09 = LinReg()
auto_model09.fit(X_train09, y_train09)

LinearRegression()

Compute the predicted values and r squared score for our new model and new sample data.

In [144]:
# Your code here:

y_pred09 = auto_model09.predict(X_test09)
metrics.r2_score(y_test09, y_pred09)

0.8853883561092302

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [146]:
# Your code here:

metrics.r2_score(y_test09, y_pred09) # R2 increased from 0.81 to 0.88, so the new model is slightly better.

0.8853883561092302

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [147]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [160]:
# Your code here:

selector = RFE(auto_model, n_features_to_select=3)

Fit the model and print the ranking

In [162]:
# Your code here:

selector = selector.fit(X_train, y_train)

In [163]:
selector.support_

array([ True, False, False, False,  True,  True])

In [164]:
selector.ranking_

array([1, 2, 4, 3, 1, 1])

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [166]:
# Your code here:

X_train.sample()

     cylinders  displacement  horse_power  weight  acceleration  model_year
218          4          79.0         58.0    1825          18.6          77

In [167]:
auto_reduced = auto[['cylinders','acceleration','model_year']]

In [168]:
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = tts(auto_reduced, mpg, test_size = 0.2)

In [169]:
auto_model_reduced = LinReg()
auto_model_reduced.fit(X_train_reduced,y_train_reduced)

LinearRegression()

In [170]:
y_pred_reduced = auto_model_reduced.predict(X_test_reduced)
metrics.r2_score(y_test_reduced, y_pred_reduced)

0.6012552393541257

In [ ]:
# Now the r2 is 0.60 which is lower than before. So, no improvement.