# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:

import warnings
warnings.filterwarnings("ignore")
import pandas as pd
from sklearn.datasets import load_boston
import numpy as np
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression as LinReg
from sklearn import metrics

from sklearn.linear_model import Ridge, Lasso

from sklearn.linear_model import SGDRegressor

from sklearn.neighbors import KNeighborsRegressor

from sklearn.ensemble import GradientBoostingRegressor

from sklearn.svm import SVR

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes
` variable using the `load_diabetes()` function.

In [2]:
# Your code here:
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [3]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [4]:
# Your code here:
diabetes.DESCR

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, total serum cholesterol\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, total cholesterol / HDL\n      - s5      ltg, possibly log of serum triglycerides level\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)\n'

What are the variables in this dataset according to the description? List them in the markdown cell below

Attribute Information:
- age: age in years
- sex
- bmi: body mass index
- bp: average blood pressure
- s1: tc, total serum cholesterol
- s2: ldl, low-density lipoproteins
- s3: hdl, high-density lipoproteins
- s4: tch, total cholesterol / HDL
- s5: ltg, possibly log of serum triglycerides level
- s6: glu, blood sugar level

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [41]:
# Your code here:
diabetes_df = pd.DataFrame(diabetes.data, columns = diabetes.feature_names)
diabetes_df.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [6]:
# Your code here:
from sklearn.linear_model import LinearRegression as LinReg

In [7]:
diabetes_df["target"]= load_diabetes().target

Initialize the model in the variable `diabetes_model`

In [8]:
#I will use diabetes (not the dataframe)

# Your code here:
lr = LinReg()
model=lr.fit(
    X = diabetes.data, #hours, DATAFRAME
    y = diabetes.target # grade, Series
)

In the cell below, fit the model and print the intercept and coefficients of the model.

In [9]:
# Your code here:

print(f"The intercept value is {model.intercept_}")

print(f"The coeficients values are {model.coef_}")

The intercept value is 152.13348416289597
The coeficients values are [ -10.0098663  -239.81564367  519.84592005  324.3846455  -792.17563855
  476.73902101  101.04326794  177.06323767  751.27369956   67.62669218]

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [10]:
# Your code here:
import statsmodels.formula.api as smf
results = smf.ols("diabetes.target ~ diabetes.data", data=diabetes).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        diabetes.target   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Tue, 15 Nov 2022   Prob (F-statistic):           3.83e-62
Time:                        16:06:24   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept          152.1335      2.576     59.061      0.000     147.071     157.196
diabetes.data[0]   -10.0099     59.749     -0.168      0.867    -127.446     107.426
diabetes.data[1]  -239.8156     61.222     -3.917      0.000    -360.147    -119.484
diabetes.data[2]   519.8459     66.533      7.813      0.000     389.076     650.616
diabetes.data[3]   324.3846     65.422      4.958      0.000     195.799     452.970
diabetes.data[4]  -792.1756    416.680     -1.901      0.058   -1611.153      26.802
diabetes.data[5]   476.7390    339.030      1.406      0.160    -189.620    1143.098
diabetes.data[6]   101.0433    212.531      0.475      0.635    -316.684     518.770
diabetes.data[7]   177.0632    161.476      1.097      0.273    -140.315     494.441
diabetes.data[8]   751.2737    171.900      4.370      0.000     413.407    1089.140
diabetes.data[9]    67.6267     65.984      1.025      0.306     -62.064     197.318
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [11]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [12]:
# Your code here:
auto.head(5)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [13]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [14]:
# Your code here:
print(auto["model_year"].max())
print(auto["model_year"].min())

82
70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [15]:
# Your code here:
print (auto.isna().any(axis=0))
auto.dropna(inplace=True)

mpg             False
cylinders       False
displacement    False
horse_power      True
weight          False
acceleration    False
model_year      False
car_name        False
dtype: bool

In [16]:
print (auto.isna().any(axis=0))

mpg             False
cylinders       False
displacement    False
horse_power     False
weight          False
acceleration    False
model_year      False
car_name        False
dtype: bool

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [17]:
# Your code here:
print(auto["cylinders"].value_counts())
print("Cars can have 3,4,5,6 or 8 cylinders")

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64
Cars can have 3,4,5,6 or 8 cylinders

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [18]:
# Import the necessary function --> predict mpg
auto.drop(columns="car_name", inplace=True)

In [19]:
# Your code here:
from sklearn.model_selection import train_test_split as tts
X = auto.drop("mpg", axis=1)
y=auto.mpg
X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.2)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [64]:
lr = LinReg()

Next, fit the model in the cell below.

In [80]:
# Your code here:
auto_model=lr.fit(X_train, y_train)

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [81]:
# Import the necessary function:
y_pred = auto_model.predict(X_test)

In [82]:
# Your code here:
print("MAE - Mean absolute error", metrics.mean_absolute_error(y_test, y_pred))
print("MSE - Mean squeared error", metrics.mean_squared_error(y_test, y_pred))
print("RMSE - Root mean squared error", np.sqrt(metrics.mean_absolute_error(y_test, y_pred)))
print("R2 - Mean absolute error", metrics.r2_score(y_test, y_pred))

MAE - Mean absolute error 2.8796748892996495
MSE - Mean squeared error 13.821811840289548
RMSE - Root mean squared error 1.6969604854856373
R2 - Mean absolute error 0.7672960941976902

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [68]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = tts(X, y, test_size = 0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [69]:
# Your code here:
auto_model09= lr.fit(X_train09,y_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [72]:
# Your code here:

y_pred09 = auto_model09.predict(X_test09)

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [73]:
# Your code here:
print("MAE - Mean absolute error", metrics.mean_absolute_error(y_test09, y_pred09))
print("MSE - Mean squeared error", metrics.mean_squared_error(y_test09, y_pred09))
print("RMSE - Root mean squared error", np.sqrt(metrics.mean_absolute_error(y_test09, y_pred09)))
print("R2 - Mean absolute error", metrics.r2_score(y_test09, y_pred09))

MAE - Mean absolute error 2.887232098074432
MSE - Mean squeared error 16.855730803778346
RMSE - Root mean squared error 1.6991857161812631
R2 - Mean absolute error 0.7471151363328132

### the new R2 is smaller than our original, so we can say that the 20% test size predicts better than our 10%

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [74]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [84]:
# Your code here:
selector = RFE(auto_model, n_features_to_select=3)

Fit the model and print the ranking

In [85]:
# Your code here:
selector = selector.fit(X,y)

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_train_reduced`, `y_test_reduced`. Use an 80% split.

In [89]:
# Your code here:
auto_reduced = auto.drop(["acceleration","model_year"],axis=1)

auto_reduced

      mpg  cylinders  displacement  horse_power  weight
0    18.0          8         307.0        130.0    3504
1    15.0          8         350.0        165.0    3693
2    18.0          8         318.0        150.0    3436
3    16.0          8         304.0        150.0    3433
4    17.0          8         302.0        140.0    3449
..    ...        ...           ...          ...     ...
393  27.0          4         140.0         86.0    2790
394  44.0          4          97.0         52.0    2130
395  32.0          4         135.0         84.0    2295
396  28.0          4         120.0         79.0    2625
397  31.0          4         119.0         82.0    2720

[392 rows x 5 columns]

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [90]:
# Your code here: 
X = auto_reduced.drop("mpg", axis=1)
y = auto_reduced.mpg

In [91]:
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = tts(X, y, test_size = 0.2)

In [92]:
auto_reduced= lr.fit(X_train_reduced,y_train_reduced)

In [93]:
y_pred_reduced = auto_reduced.predict(X_test_reduced)

In [94]:
print("MAE - Mean absolute error", metrics.mean_absolute_error(y_test_reduced, y_pred_reduced))
print("MSE - Mean squeared error", metrics.mean_squared_error(y_test_reduced, y_pred_reduced))
print("RMSE - Root mean squared error", np.sqrt(metrics.mean_absolute_error(y_test_reduced, y_pred_reduced)))
print("R2 - Mean absolute error", metrics.r2_score(y_test_reduced, y_pred_reduced))

MAE - Mean absolute error 3.353248726190695
MSE - Mean squeared error 19.68126150085432
RMSE - Root mean squared error 1.8311877910773364
R2 - Mean absolute error 0.7005082988248289